{%- set fruit_aapl = salt['pillar.get']('default:OMV_SAMBA_FRUIT_AAPL', 'yes') -%}
{%- set fruit_locking = salt['pillar.get']('default:OMV_SAMBA_SHARE_FRUIT_LOCKING', 'none') -%}
{%- set fruit_encoding = salt['pillar.get']('default:OMV_SAMBA_SHARE_FRUIT_ENCODING', 'private') -%}
{%- set fruit_metadata = salt['pillar.get']('default:OMV_SAMBA_SHARE_FRUIT_METADATA', 'stream') -%}
{%- set fruit_resource = salt['pillar.get']('default:OMV_SAMBA_SHARE_FRUIT_RESOURCE', 'file') -%}
{%- set fruit_veto_appledouble = salt['pillar.get']('default:OMV_SAMBA_SHARE_FRUIT_VETOAPPLEDOUBLE', 'no') -%}
{%- set fruit_wipe_intentionally_left_blank_rfork = salt['pillar.get']('default:OMV_SAMBA_SHARE_FRUIT_WIPEINTENTIONALLYLEFTBLANKRFORK', 'yes') -%}
{%- set fruit_delete_empty_adfiles = salt['pillar.get']('default:OMV_SAMBA_SHARE_FRUIT_DELETEEMPTYADFILES', 'yes') -%}
{%- if config.netbios | to_bool | not %}
smb ports = 445
{%- endif %}
{%- if fruit_aapl == 'yes' %}
# macOS global settings
fruit:locking = {{ fruit_locking }}
fruit:encoding = {{ fruit_encoding }}
fruit:metadata = {{ fruit_metadata }}
fruit:resource = {{ fruit_resource }}
fruit:veto_appledouble = {{ fruit_veto_appledouble }}
fruit:wipe_intentionally_left_blank_rfork = {{ fruit_wipe_intentionally_left_blank_rfork }}
fruit:delete_empty_adfiles = {{ fruit_delete_empty_adfiles }}
readdir_attr:aapl_max_access = no
# do nit make every file executable
map archive = no
{%- endif %}
