{%- set fruit_aapl = salt['pillar.get']('default:OMV_SAMBA_FRUIT_AAPL', 'yes') -%}
{%- if config.netbios | to_bool | not %}
smb ports = 445
{%- endif %}
{%- if fruit_aapl == 'yes' %}
# macOS global settings
# fruit_model
readdir_attr:aapl_max_access = no
# do not make every file executable
map archive = no
{%- endif %}
{%- if config.extraoptions | length > 0 %}
# Extra options
{{ config.extraoptions }}
{%- endif %}

