{%- set prefix = salt['pillar.get']('default:OMV_SYSTEMD_TASK_PREFIX', 'omv-task-') -%}
{%- set spc = ' ' -%}

{{ pillar['headers']['multiline'] -}}
[Unit]
Description=Service for job {{ prefix ~ job.uuid }}
After=network-online.target

[Service]
Type=oneshot
Environment="SHELL=/bin/sh"
Environment="PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin"
User={{ job.username }}
ExecStart=/bin/sh -c '{{ script_path }} 
{%- if not job.sendemail | to_bool -%}
{{ spc }}>/dev/null 2>&1
{%- else -%}
{{ spc }}2>&1 | mail -E -s "Task{{ ' - ' ~ job.comment | replace('\n', ' ') if job.comment | length > 0 else '' }}" -a "From: Systemd Timer <{{ job.username }}>" {{ job.username }} >/dev/null 2>&1
{%- endif -%}'
{% if job.execution == "reboot" -%}

[Install]
WantedBy=multi-user.target
{%- endif -%}
